@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;600;700&family=Poppins:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.border_bottom {
  border-bottom: 1px solid #212121;
}

@media only screen and (min-width:768px) {
  .desktop_border {
    height: 1px;
    width: 60%;
    background-color: #212121;
  }
}

.creteRound {
  font-family: 'Crete Round', serif;
  font-weight: 400;
}

.footer {
  border-top: 2px solid white;
}
.footer_border_bottom {
  border-bottom: 1px solid #DBD8D7;
}
.footer_border_top {
  border-top: 1px solid #DBD8D7;
}




